@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/public/pattern.svg");
}

/* Добавьте в глобальные стили, например, в `globals.css` */
.toggle-checkbox:checked {
  transform: translateX(100%);
}

.toggle-label {
  transition: background-color 0.3s ease, transform 0.3s ease;
}